src/main/resources/queue.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="queue">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="task" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="title"/>
							<xs:element type="xs:string" name="description"/>
							<xs:element type="xs:string" name="dueDate"/>
							<xs:element type="xs:string" name="status"/>
						</xs:sequence>
						<xs:attribute type="xs:string" name="id" use="optional"/>
						<xs:attribute type="xs:string" name="href" use="optional"/>
						<xs:attribute type="xs:string" name="comment" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>